
{% extends 'base.html' %}

{% block title %}Последние обновления на сайте{% endblock %}

{% block header %}Последние обновления на сайте{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 align="center">
      <span style="color: navy;">Список тем для опросов пользователей</span>
    </h1>
    <br>
    {% for survey in page_obj %}
    <article>
        <ul>
          <a href="{% url 'surveys:survey_detail' survey_slug=survey.slug %}">
            <h3><li> {{ survey.title }} </li> </h3>
          </a>
          {% comment %} <li>
            <p>{{ survey.description }}</p>
          </li> {% endcomment %}
        </ul>
    </article>
    {% endfor %}
</div>
{% endblock %}
