
{% extends 'base.html' %}

{% block title %}Последние обновления на сайте{% endblock %}

{% block header %}Последние обновления на сайте{% endblock %}

{% block content %}
<div class="container py-5">
    <h1>Список опросов пользователей</h1> 
    {% for survey in page_obj %}
    <article>
        <ul>
          <li>
            <strong>Заголовок опроса:</strong> {{ survey.title }}
          </li>
          <li>
            <p>{{ survey.description }}</p>
          </li>
        </ul>
    </article>
    {% endfor %}
</div>
{% endblock %}
