{% extends 'base.html' %}
{% debug %}
{{% block content %}
    <h2 align="center" style="color: navy;">Текущий Опрос: {{ survey.title }}</h2>
    {% if user.is_authenticated %}
        Привет, {{ user.username }}! Добро пожаловать в наш прекрасный опросник!
    {% else %}
        Пожалуйста, войдите.
    {% endif %}
{#    <pre>Context: {{ context|safe }}</pre>#}
    <div style="margin-left: 40px; margin-right: 40px; color: #333;">
        <form id="surveyForm" method="post" action="{% url 'surveys:survey_question' survey_slug=survey.slug question_slug=question.slug %}">
        {% csrf_token %}
        <input type="hidden" name="parent_answer_id" value="{{ parent_answer.id }}">
        <br>
        <h3>{{ question.title }}</h3>

        {% if choices %}
            <!-- Варианты ответов -->
            {% for choice in choices %}
                <input type="radio" id="choice_{{ choice.id }}" name="question_{{ question.id }}" value="{{ choice.id }}" required>
                <label for="choice_{{ choice.id }}">{{ choice.text }}</label><br>
            {% endfor %}
        {% else %}
            <p>Нет выбора!</p>
        {% endif %}

        {% if next_question %}
            <!-- Если есть следующий вопрос, отображаем его и создаем ссылку -->
            <p>Следующий вопрос: {{ next_question.title }}</p>
            <a href="{% url 'surveys:survey_question' survey_slug=survey.slug question_slug=next_question.slug %}">Следующий вопрос</a>
        {% else %}
            <p>Следующего вопроса нет</p>
        {% endif %}

        <!-- Кнопка для отправки формы -->
        <button type="submit">Отправить выбранный ответ</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            // Добавляем обработчик события submit формы
            $("#surveyForm").submit(function (event) {
                // Отменяем стандартное поведение формы
                event.preventDefault();

                // Вызываем метод submit формы
                $(this).unbind('submit').submit();
            });

            // Добавляем обработчик для обработки JSON-ответа после успешной отправки формы
            $(document).ajaxComplete(function (event, xhr, settings) {
                var jsonResponse = JSON.parse(xhr.responseText);
                if (jsonResponse.redirect) {
                    // Используем window.location.href для перенаправления на новую страницу
                    window.location.href = jsonResponse.redirect;
                }
            });
        });
    </script>
{% endblock %}